{% extends "base.html" %}

{% block html_attribs %}
    {{ super() }}
    {#
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    #}
{% endblock %}

{% block styles %}
    {{ super() }}
    {#
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    #}
{% endblock %}

{% block page_content %}
    {# Put this page's content inside of this block #}
    <hr>
    <div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{ user.first_name }} {{ user.last_name }}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->

          <div class="text-center">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a different photo...</h6>
            <input type="file" class="text-center center-block file-upload">
          </div>
          </hr><br>

          <div class="panel panel-default">
            <div class="panel-heading">Patient Names<i class="fa fa-link fa-1x"></i></div>
            <ul class="list-group">
            {% for pat in user.patients %}
              <li class="list-group-item text-right">{{pat.first_name}} {{pat.last_name}}</li>
            {% endfor %}
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Hospital Information <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a>Ithaca Family Medicine</a></div>
            <div class="panel-body"><a>567 Hill Heights</a></div>
            <div class="panel-body"><a>Ithaca, NY 14850</a></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Activity <i class="fa fa-link fa-1x"></i></div>
            <ul class="list-group">
              <li class="list-group-item text-right"><span class="pull-left"><strong>Patients</strong></span>{{doctor.num_patients}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Prescription Requests</strong></span>{{doctor.presc_requests}}</li>
              <li class="list-group-item text-right"><span class="pull-left"><strong>Messages</strong></span>{{doctor.messages}}</li>
            </ul>
          </div>
        </div>

    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#prescriptions">Patient Prescriptions</a></li>
                <li><a data-toggle="tab" href="#settings">Update Profile</a></li>
              </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <h3>My Profile</h3>
                <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                    <div class="form-group">
                      <div class="col-xs-4">
                        <label for="firstname"><h4>First Name</h4></label>
                        <input type="text" class="form-control" id="firstname" placeholder="{{user.first_name}}" readonly>
                      </div>

                      <div class="form-group col-xs-4">
                        <label for="middlename"><h4>Middle Name</h4></label>
                        <input type= "text" class="form-control" id="middlename" placeholder="{{user.middle_name}}" readonly>
                      </div>

                      <div class="form-group col-xs-4">
                        <label for="lastname"><h4>Last Name</h4></label>
                        <input type="text" class="form-control" id="lastname" placeholder="{{user.last_name}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="phone"><h4>Phone</h4></label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="{{patient.phone_number}}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="phone"><h4>Username</h4></label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="{{patient.phone_number}}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="email"><h4>Email</h4></label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="{{user.email}}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-6">
                        <label for="birthdate"><h4>Birthdate</h4></label>
                        <input type="text" class="form-control" name="birthdate" id="birthdate" placeholder="{{user.birthdate}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-6">
                        <label for="gender"><h4>Gender</h4></label>
                        <input type="text" class="form-control" name="gender" id="gender" placeholder="{{user.gender}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="license"><h4>Medical License</h4></label>
                            <input type="license" class="form-control" name="license" id="license" placeholder="{{user.insurance_number}}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-6">
                        <label for="inputAddress"><h4>Street Address</h4></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="{{user.street_address}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-6">
                        <label for="country"><h4>Country</h4></label>
                        <input type="text" class="form-control" id="country" placeholder="{{user.country}}" readonly>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-xs-4">
                        <label for="inputCity"><h4>City</h4></label>
                        <input type="text" class="form-control" id="inputCity" placeholder="{{user.city}}" readonly>
                      </div>

                      <div class="form-group col-xs-4">
                        <label for="inputState"><h4>State</h4></label>
                        <input id="inputState" class="form-control" placeholder="{{user.state}}" readonly>
                      </div>

                      <div class="form-group col-xs-4">
                        <label for="inputZip"><h4>Zip Code</h4></label>
                        <input type="text" class="form-control" id="inputZip" placeholder="{{user.zip_code}}" readonly>
                      </div>
                    </div>
              	</form>
              <hr>
            </div>

            <!--/Prescription-pane-->
             <div class="tab-pane" id="prescriptions">
               <h3>List of Patient Prescriptions</h3>
               {% for presc in patients.prescriptions %}
               <table class= "table table-user-information">
                <tbody>
                  <tr>
                    <td>Name:</td>
                    <td><{{presc.name}}></td>
                  </tr>
                  <tr>
                    <td>Dosage:</td>
                    <td><{{presc.amount}}></td>
                  </tr>
                  <tr>
                    <td>Dosage Strength:</td>
                    <td><{{presc.dosage_strength}}></td>
                  </tr>
                  <tr>
                    <td>Refills:</td>
                    <td><{{presc.refills_left}}></td>
                  </tr>
                  <tr>
                    <td>Prescribe Date:</td>
                    <td><{{presc.prescribe_date}}></td>
                  </tr>
                  <tr>
                    <td>Disburse Date:</td>
                    <td><{{presc.disbursed_date}}></td>
                  </tr>
                  <tr>
                    <td>Directions:</td>
                    <td><{{presc.directions}}></td>
                  </tr>
               </tbody>
              </table>
              {% endfor %}
          </div>
          <!--/Prescription-pane-->

          <!--/Update Profile-pane-->
             <div class="tab-pane" id="settings">
                  <h3>Change Profile Information</h3>
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          <div class="col-xs-4">
                              <label for="first_name"><h4>First Name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name.">
                          </div>

                          <div class="form-group col-xs-4">
                            <label for="middle_name"><h4>Middle Name</h4></label>
                              <input type="text" class="form-control" name="middle_name" id="middle_name" placeholder="middle name" title="enter your middle name if any.">
                          </div>

                          <div class="form-group col-xs-4">
                            <label for="last_name"><h4>Last Name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="username"><h4>Username</h4></label>
                              <input type="username" class="form-control" name="username" id="username" placeholder="chioko" title="enter your new username.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="birthdate"><h4>Birthdate</h4></label>
                              <input type="birthdate" class="form-control" name="birthdate" id="birthdate" placeholder="May 11th 1996" title="enter your birthdate.">
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="gender"><h4>Gender</h4></label>
                          <input type="text" class="form-control" name="gender" id="gender" placeholder="enter gender" title="enter your gender.">
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="license"><h4>Medical License</h4></label>
                              <input type="license" class="form-control" id="license" placeholder="Aetna, BlueShield, etc." title="enter a license #">
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="inputAddress"><h4>Street Address</h4></label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-6">
                          <label for="inputAddress2"><h4>Country</h4></label>
                          <input type="text" class="form-control" id="country" placeholder="United States">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-xs-4">
                          <label for="inputCity"><h4>City</h4></label>
                          <input type="text" class="form-control" id="inputCity">
                        </div>

                        <div class="form-group col-xs-4">
                          <label for="inputState"><h4>State</h4></label>
                          <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                          </select>
                        </div>

                        <div class="form-group col-xs-4">
                          <label for="inputZip"><h4>Zip Code</h4></label>
                          <input type="text" class="form-control" id="inputZip">
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              </div>
              </div><!--/tab-pane-->
          </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->

{% endblock %}

{% block scripts %}
    {{ super() }}
    {#
        <script src="{{ url_for('static', 'scripts/profile.js') }}"
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    #}
{% endblock %}
