{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}RxStore | {{ title }}{% else %}RxStore{% endif %}
{% endblock %}

{% block metas %}
    {{ super() }}
    {# Add any extra metadata here. #}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">RxStore</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- <ul class="nav navbar-nav">
                </ul> -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="#">Profile</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {{ super() }}
    {# 
        Each html doc inherits from this base template. Each document needs to specify its own page content which
        is to be added using the following syntax below. Any additional information you want each page to have,
        add it above this comment right below the {% block content %} syntax.
    #}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}